<a href="https://colab.research.google.com/github/JoshuaMadriaga/CPE009A-OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bool

In [2]:
print(bool("hello"))
print(bool(False))

True
False

In [5]:
print(bool("hello"))
print(bool(15))

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

function can refern a boolean

In [7]:
def myFunction():
  return True

print(myFunction())

True

In [12]:
def myFunction():
  return True

if myFunction():
  print("yes!")
else:
  print("NO!")

yes!

You Try

In [14]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operation

In [17]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python bitwise Operations
a = 60
b = 13
a = 0011 1100
b = 0000 1101

In [32]:
a = 60
b = 13

print(a&b)
print(a|b)
print(a^b)
a<<2

12
61
49

240

pyhton assignment operation

In [41]:
x = 1
x += 3
print(x)

4

In [42]:
x = 1
x -= 3
print(x)

-2

In [43]:
x = 1
x *= 3
print (x)

3

In [44]:
x = 1
x /= 3
print(x)

0.3333333333333333

In [45]:
x = 1
x %=3
print(x)

1

Logical Operators

In [55]:
y = 60
z = 13

print(y>z) #true
print(y<z) #flase
print("and")
print(y>z and y<z) #and
print(y>z and y>z) #and
print("or")
print(y>z or y<z) #or
print(y>z or y>z) #or
print(y<z or y<z) #or
print("Not")
print(not(y>z and y<z)) #Not

True
False
and
False
True
or
True
True
False
Not
True

Identity Operator

In [57]:
print(y is z)
print (y is not z)

False
True

Loop Statement

In [59]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday", "friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
friday
Saturday

In [62]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday", "friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday": #break Statement
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [65]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday", "friday", "Saturday"]
for x in week:
  if x == "Thursday": #break Statement
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [64]:
for x in "week":
  print(x)

w
e
e
k

the Range Function

In [68]:
for x in range(6):
  print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [70]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [73]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
i += 1

In [79]:
i = 0
while i<6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [81]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i  is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [82]:
for i in range (11):
  print("Hello",i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10