<a href="https://colab.research.google.com/github/JoshuaMadriaga/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [4]:
if 5>2:
  print("this is greater than two")

this is greater than two

Python Comments

In [6]:
#this is a comments
print("Hello Word")

Hello Word

In [7]:
if 5>2:
  print("this is greater than two") #Comparison of number 5 and 2

this is greater than two

Varialbe Naming Conventions

Python Variable

In [18]:
x=1   #this is a single variable with a value
a,b=0,-1
a,b,c=0,-1,2

print(a)
print(b)
print(x)
b="sally"

print(b)

0
-1
1
-1
sally

Casting

In [20]:
b="sally" # this is a type of string
b=int(4)
print (b)

b=float(4)
print(b)

4
4.0

Type Function

In [21]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'single Quotes'

In [26]:
y="john"

print(y)
y='john'
print(y)

john
john

Case Sensitive

In [28]:
a=4
A="Sally"
#A will not overwrite a
print(a,A)

4 Sally

Multiple Variables

In [31]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variable

In [32]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [36]:
x="enjoying"
print("python programmin is " + x)

python programmin is enjoying

other way

In [38]:
x="python is "
y="enjoying"
z=x+y
print(z)

python is enjoying

Arithmetic Operations

In [41]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [42]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [43]:
x=1
y=1
x==y

True

Logical Operators

In [44]:
x=1
x<5 and x<10

True

Identity Operators

In [50]:
a,b,c=0,-1,5
a is b

False

Bitwise Operators